			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="bg5">
        <tr>
					<td><table width="778" border="0" cellpadding="0" cellspacing="0" class="bg5">
							<tr>
								<td width="20">&nbsp;</td>
								<td width="738"><table width="738" border="0" cellspacing="0" cellpadding="0">
										<tr valign="top">
											<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
													<tr>
														<td><img src="../images/spacer.gif" alt="" width="25" height="20"></td>
													</tr>
													<tr>
														<td class="text5">Services</td>
													</tr>
													<tr>
														<td>&nbsp;</td>
													</tr>
													<tr>
                            <td><p>
                              With strong buyers in both domestic and international markets, Carolina Recycling 
                              Company can offer competitive pricing for all your scrap. Carolina Recycling buys and
                              sells all of the following materials:
													</tr>
												</table></td>
										</tr>
									</table>
									<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td><table width="738" border="0" cellspacing="0" cellpadding="0">
													<tr valign="top">
														<td width="738"><table width="738" border="0" cellspacing="0" cellpadding="0">
																<tr>
                                  <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr class="<%= cycle("even", "odd") -%>">
                                        <td style="padding:8px;" width="25%" height="25px">ABS</td>
                                        <td style="padding:8px;" width="25%" height="25px">Acrylic</td>
                                        <td style="padding:8px;" width="25%" height="25px">Gaylord Boxes</td>
                                        <td style="padding:8px;" width="25%" height="25px">Glass Filled Plastics</td>
                                      </tr>
                                      <tr class="<%= cycle("even", "odd") -%>">
                                        <td style="padding:8px;" width="25%" height="25px">HDPE</td>
                                        <td style="padding:8px;" width="25%" height="25px">HIPS</td>
                                        <td style="padding:8px;" width="25%" height="25px">LDPE</td>
                                        <td style="padding:8px;" width="25%" height="25px">LLDPE</td>
                                      </tr>
                                      <tr class="<%= cycle("even", "odd") -%>">
                                        <td style="padding:8px;" width="25%" height="25px">MDPE</td>
                                        <td style="padding:8px;" width="25%" height="25px">Non-woven Blends</td>
                                        <td style="padding:8px;" width="25%" height="25px">Nylon</td>
                                        <td style="padding:8px;" width="25%" height="25px">OCC (Cardboard)</td>
                                      </tr>
                                      <tr class="<%= cycle("even", "odd") -%>">
                                        <td style="padding:8px;" width="25%" height="25px">Paper (Many grades)</td>
                                        <td style="padding:8px;" width="25%" height="25px">PC</td>
                                        <td style="padding:8px;" width="25%" height="25px">PC/ABS</td>
                                        <td style="padding:8px;" width="25%" height="25px">PET</td>
                                      </tr>
                                      <tr class="<%= cycle("even", "odd") -%>">
                                        <td style="padding:8px;" width="25%" height="25px">PETG</td>
                                        <td style="padding:8px;" width="25%" height="25px">Polyester</td>
                                        <td style="padding:8px;" width="25%" height="25px">PP</td>
                                        <td style="padding:8px;" width="25%" height="25px">PVC</td>
                                      </tr>
                                      <tr class="<%= cycle("even", "odd") -%>">
                                        <td style="padding:8px;" width="25%" height="25px">TPO</td>
                                        <td style="padding:8px;" width="25%" height="25px"></td>
                                        <td style="padding:8px;" width="25%" height="25px"></td>
                                        <td style="padding:8px;" width="25%" height="25px"></td>
                                      </tr>
                                    </table> 
                                  </td>
                                </tr>
                                <tr>
                                  <td><img src="../images/spacer.gif" alt="" width="25" height="25"></td>
                                </tr>
                                <tr>
                                  <td>
                                    <p>Carolina Recycling can also offer pelletizing, densification, and grinding services.</p>
                                    <p>If you have material you would like to Buy or Sell, please click <%= link_to 'here', contact_pages_url %> and fill out the form.</p>
                                    <p>Carolina Recycling can assist your company with creating a recycling program, tailored
                                    to your specific needs. Our recycling programs are perfect for large to small offices,
                                    banks, schools, churches, restaurants, retail shops, printers, and more. Please contact
                                    us and we will design a detailed program for you.<br><br><a href="http://www.solutionsdistributor.com/">To Order Online Click Here</a></p>
                                  </td>
																</tr>
															</table></td>
													</tr>
												</table></td>
								      <td width="20">&nbsp;</td>
										</tr>
										<tr>
											<td>&nbsp;</td>
										</tr>
									</table></td>
							</tr>
						</table></td>
				</tr>
			</table></td>
	</tr>
</table>
