Name:
= @contact.name

Address:
= @contact.address

City:
= @contact.city

State:
= @contact.state

Zipcode:
= @contact.zip_code

Work Phone:
= @contact.work_phone

Cell Phone:
= @contact.cell_phone

Message:
= @contact.message
