%table
  %tr
    %td Name:
    %td= @contact.name
  %tr
    %td Address:
    %td= @contact.address
  %tr
    %td City:
    %td= @contact.city
  %tr
    %td State:
    %td= @contact.state
  %tr
    %td Zipcode:
    %td= @contact.zip_code
  %tr
    %td Work Phone:
    %td= @contact.work_phone
  %tr
    %td Cell Phone:
    %td= @contact.cell_phone
  %tr
    %td &nbsp;
    %td &nbsp;
  %tr
    %td Message:
    %td &nbsp;
  %tr
    %td{:colspan => 2}= @contact.message
